@page
@model HolidayManagerWeb.Views.Account.RegisterModel
@{
    <form method="post">
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="date" name="birth" required />
        <button type="submit">Register</button>
    </form>

}
